.main{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* justify-content: space-around;
    justify-content: space-between; */
    /* justify-content: end; */
    /* justify-content: flex-end;
    justify-content: flex-start; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
}
.box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* flex-grow: 1; */
    float:left;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: red;
    z-index: 103;
    float: right;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    float: left;
}
.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 204);
    float: right;
}
.box5{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 191, 255);
}
.box6{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 26);
}
.box7{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 132);
}
.box8{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 136, 0);
}
.box9{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 119);
}
.para{
    clear: left;
    clear: right;
}
.overflow{
    /* overflow: hidden; */
    width:300px;
    height:300px;
    /* overflow: scroll; */
    overflow: auto;
}
.overflow > p {
    /* width:500px;
    height:700px; */
    background-color: aquamarine;
}