.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button1{
  padding: 20px 70px 20px 20px;
  background-color: #007AFF;
  color: #fbfbfb;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-style: hidden;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
form {
  border: 3px solid #f4f1f1;
  padding: 20px;
  box-shadow:2px 2px 2px black;
  border-radius: 5px 5px 5px 5px;
}

.pw1{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}
.email1{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ca{
  font-size: 15px;
}
.App {
  text-align: center;
}

.App-header {
  background-color:rgb(210, 227, 200) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color:rgb(79, 111, 82);
}

.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
}

.todo-input button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgb(115, 144, 114);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: white;
  min-width: 200px; /* Set a minimum width for the list items */
}

.del {
  background-color: #ff6c6c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.loginpage{
  text-align: center;
  background-color:white ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color:rgb(79, 111, 82);
}
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=text],input[text=email],input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.button{
  padding: 20px 70px 20px 20px;
  background-color: #04AA6D;
  color: #fbfbfb;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-style: hidden;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
.registerpage{
  text-align: center;
  background-color:rgb(255, 255, 255) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color:rgb(79, 111, 82);
}
form1{
  border: 3px solid #f4f1f1;
  background-color:rgb(255, 255, 255);
  padding: 50px;
  box-shadow:2px 2px 2px black;
  border-radius: 5px 5px 5px 5px;
}
label{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
b{
  color: black;
  font-family:Arial, Helvetica, sans-serif ;
  margin-bottom: 50px;
}
.name{
  margin-top: 10px;
}
.su{
  font-size: 15px;
}
h{
  color: black;
  font-size: 15px;
}
/* .edit-todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: white;
  min-width: 200px; 
} */

.box{
  display: flex;
}
/* .cbox{
  width: 20px;
  height: 20px;

} */