.main{
    border: 2px solid rgb(19, 244, 19);
    height: 250px;
    width: 500px;
    position: relative;right:0;
}
.main1{
    border: 2px solid rgb(19, 244, 19);
    height: 120px;
    width: 200px;
    position: absolute;left:0;
}